body {
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.text {
    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text !important;
    background: -webkit-linear-gradient(#240046, #d4a276 70%);
}