div {
    width: fit-content;
    background-color: #ccc;
    padding: 20px;
    text-align: center;
    margin: auto;
    counter-increment: count;
    position: relative;
}
div::before {
    content: counter(count);
    position: absolute;
    left: -15px;
    top: 10px;
    background-color: red;
    padding: 10px;
    color: white;
}