* {
    box-sizing: border-box;
    margin: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.container {
    background-color: #EEE;
    display: grid;
    padding: 10px;
    width: 800px;
    margin: auto;
    column-gap: 5px;
    row-gap: 10px;
    grid-template-columns: auto auto auto auto auto;
}
.container div {
    background-color: lightskyblue;
    padding: 20px 0px;
    text-align: center;
    font-size: 30px;
    border: 1px solid black;
}
.item1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}
