* {
    box-sizing: border-box;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: repeat(8, auto);
    outline: 5px solid #333;
}
.white {
    background-color: #FFF;
}
.black {
    background-color: #333;
}