body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
.menu {
    width: 100px;
    height: 100px;
    background-color: #EEE;
    display: grid;
    overflow: hidden;
}
.menu span {
    width: 80%;
    height: 50%;
    background-color: #333;
    margin: 10px;
    border-radius: 10px;
    transition: transform .3s, background-color .5s ;
}
.menu:hover span {
    background-color: #ef233c;
}
.menu:hover span:nth-child(2) {
    transform: translateX(-100px);
}
.menu:hover span:first-child {
    transform: translateY(33px) rotate(135deg);
}
.menu:hover span:last-child {
    transform: translateY(-33px) rotate(-135deg);
}
